<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            expert-flag="false"
            factory-class="org.knime.knip.sandbox.cellcogreader.CellCognitionReaderNodeFactory"
            id="org.knime.knip.sandbox.heldreader.CellCognitionReaderNodeFactory">
      </node>
   </extension>
</plugin>
